@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;

}

::selection {
    color: #fff;
    background-color: #8E62AC;
    text-shadow: #33322f;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 200px;
    margin: -100px 0 0 -100px;
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

#main {
    display: none;
}

.main {
    text-align: center;
}

/*******   Scrollbar   *******/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #dadada;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(132, 132, 132);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(116, 116, 116);
}

body {
    margin: 0;
    padding: 0;
}

h4 {
    margin: 2%;
    text-align: center;
}

h5 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
}

h6 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600 !important;
    color: rgb(224, 22, 0) !important;
    font-size: 18px !important;
    padding: 5px !important;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px !important;
}

hr {
    border-color: #ffffff;
    border-style: none;
    border-top-style: dotted;
    border-width: 3px;
    width: 100%;
    margin: 20px auto 0;
}

ul {
    list-style-type: none;
    list-style: none;
}

.navbar {
    top: 0;
}

.sticky-top {
    /* backdrop-filter: blur(20px);  */
    background-color: #fff;
}

.navbar-brand {
    text-align: start;
    font-size: 2.5rem !important;
    line-height: 0;
    font-weight: 700;
    color: #8E62AC !important;
    font-family: 'Urbanist', sans-serif;
}

.navbar-brand img {
    height: 6rem;
    padding-left: 1rem;
    padding-right: 0;
}

.nav-link {
    color: black !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    transition: 300ms !important;
    padding-right: 18px !important;
}

.nav-link.active {
    font-weight: 600 !important;
    color: #8E62AC !important;
}

.nav-link:hover {
    color: #8E62AC !important;
    text-decoration: underline;
}

.navbar-toggler-icon {
    border-color: rgb(255, 255, 255) !important;
}

.big-search {
    display: block !important;
    background-color: #ebebeb !important;
    color: #000000 !important;
    border-radius: 50% !important;
}

.small-search {
    display: none !important;
    border-radius: 50% !important;
}

.big-search:hover {
    background-color: #e0e0e0 !important;
    /* border: transparent !important; */
}

.search {
    border-radius: 100px;
    border: transparent;
    padding: 1rem 1.5rem;
    max-width: 80%;
    min-width: 60%;
    margin: 1rem 1rem 2rem;
    font-size: 20px !important;
    background-color: #dadada;
}

.search-lottie {
    height: 20%;
}

.dropdown {
    cursor: pointer;
    font-family: 'Questrial', sans-serif !important;
    font-weight: 600 !important;
    transition: 0.5s;
}

.dropdown p {
    margin-bottom: 0 !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: all 0.3s;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 8px 14px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: all 0.2s;
}

.dropdown-content a:hover {
    color: #af6cdc;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: all 0.5s;
}

/***** Top *****/

.carousel-control-next,
.carousel-control-prev {
    width: 8% !important;
}

.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
    filter: 0;
    /* background-color: black; */
}

.carousel-item {
    height: 550px !important;
}

.top {
    padding: 5% 7% 4%;
    color: rgba(0, 0, 0, 0.826);
    text-align: start;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.top-col {
    display: flex !important;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

.welcome {
    font-weight: 400;
    font-family: 'Urbanist', sans-serif;
}

.top-head {
    font-size: 4.8rem;
    font-weight: 800;
    font-family: 'Urbanist', sans-serif;
}

.top-para {
    font-size: 1.45rem;
}

.top-btn {
    padding: 10px 20px !important;
    border-radius: 40px !important;
    width: 200px;
}

mark {
    font-size: 2.4rem;
    background-color: transparent !important;
    font-weight: 800;
    padding: 0 2px !important;
    font-family: 'Urbanist', sans-serif;
}

.homesnap {
    z-index: -9;
    width: 100%;
}

.fa-phone-alt {
    font-size: 20px;
}

.btn-light {
    background-color: #8E62AC !important;
    color: white !important;
}

.btn-light:hover {
    background-color: #af6cdc !important;
}

.para {
    text-align: center;
    margin-bottom: 25px;
}

/*** tour ***/
.tour {
    padding: 2% 4%;
    display: flex;
    justify-content: center;
}

.sub-head {
    font-size: 2.8rem;
    text-align: center;
    font-weight: 800;
    font-family: 'Urbanist', sans-serif;
    margin: 2%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 300ms;
    height: 100% !important;
}

.include {
    font-size: 2.2rem;
    padding: 5px;
    color: #fff;
    border-radius: 8px;
    background-color: #8E62AC;
    margin-right: .5rem;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: space-between !important;
}

.card-title {
    font-size: 1.45rem;
    text-align: center;
    font-weight: 800;
    font-family: 'Urbanist', sans-serif;
}

.card-text {
    font-size: 18px !important;
    margin: .5rem !important;
}

.card-lottie-row {
    padding: 0;
    margin-top: -.5rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-outline-primary {
    width: 160px !important;
    font-weight: 600 !important;
    --bs-btn-color: #8E62AC !important;
    --bs-btn-border-color: #8E62AC !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #8E62AC !important;
    --bs-btn-hover-border-color: #8E62AC !important;
    --bs-btn-active-bg: #8E62AC !important;
    --bs-btn-active-border-color: #8E62AC !important;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19); */
}

/*** About ***/
.about {
    margin: 4% 10%;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.abt-logo,
.abt-img {
    width: 280px;
    margin-bottom: 30px;
    transition: 300ms;
}

.abt-img {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.abt-logo:hover,
.abt-img:hover {
    transform: scale(1.1);
}

.abt-para {
    font-size: 20px;
    margin: 1rem auto 2rem auto;
}

.abt-hr {
    border-color: #8E62AC;
    border-style: none;
    border-top-style: solid;
    border-width: 2px;
    width: 70%;
    margin: 20px auto;
}

/* Enquiry */
#enquiry {
    padding: 1% 8% 4%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    color: #222222;
    font-size: 18px;
    text-align: left;
}

label {
    padding: 8px 8px 8px 0;
}

input,
textarea {
    /* font-size: 20px; */
    padding: 8px;
}

label {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
}

.form-content {
    /* font-size: 20px; */
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.submit-btn {
    display: flex !important;
    align-items: center;
}

.submit {
    margin-top: 1rem;
    width: 130px;
    border-radius: 50px !important;
    padding: 8px !important;
    text-align: center !important;
    font-size: 20px !important;
}

/*****trems*****/
.terms {
    padding: 2% 7%;
}

.terms-list {
    text-align: left;
}

.terms-img {
    width: 24%;
    padding: 4%;
}

/*** down lottie ***/
.down-lottie {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 4%;
    background-color: rgb(0, 238, 255);
}

.lottie {
    height: 200px;
}

.lottie-txt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lottie-txt h2 {
    font-family: 'Urbanist', sans-serif !important;
    font-weight: 800 !important;
}

/*****Footer*****/
.footer {
    padding: 2% 6%;
    color: #fff;
    background-color: #1D2633;
    text-align: start;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-title {
    font-size: 1.8rem;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
}

.footer-para {
    font-size: 18px !important;
}

#logodown {
    margin: 2% auto;
    padding: .5%;
    width: 100px;
    height: 100px;
    transition: 300ms;
    border-radius: 20%;
    background-color: #fff;
}

#logodown:hover {
    transform: scale(1.1);
}

.footer-link1 {
    color: #fff;
    margin: 10px 5px;
    font-size: 18px;
    text-decoration: none;
}

.footer-link1:hover {
    color: #fff;
    opacity: 100%;
    text-decoration: underline;
}

.footer-link {
    color: #fff;
    margin: 5px;
    text-decoration: none;
    transition: 300ms;
}

.footer-link:hover {
    color: #8E62AC;
    opacity: 100%;
}

.font3 {
    font-size: 18px !important;
    margin: 3% auto;
}

.font3 a {
    font-size: 18px !important;
    text-decoration: none;
    font-weight: 600;
}

.isoc {
    margin: .5rem 0;
}

.links-list {
    padding-left: 0px;
    margin: 2% 0;
    list-style: inside;
}

.search-box {
    padding: 1% 7% 2%;
}

/* banner */
.tours {
    padding: 0% 4% 2%;
    display: flex;
    justify-content: center;
}

.banner {
    margin-bottom: 3rem;
    color: #fff !important;
}

.banner div {
    background-color: #1d2633ad;
    padding: 5rem;
}

.banner div h2 {
    font-size: 4rem !important;
}