@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;

}

::selection {
    color: #fff;
    background-color: #8E62AC;
    text-shadow: #33322f;
}

/*******   Scrollbar   *******/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #dadada;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(132, 132, 132);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(116, 116, 116);
}

body {
    margin: 0;
    padding: 0;
}

h4 {
    margin: 2%;
    text-align: center;
}


p {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

hr {
    border-color: #ffffff;
    border-style: none;
    border-top-style: dotted;
    border-width: 3px;
    width: 100%;
    margin: 20px auto 0;
}

ul {
    list-style-type: none;
    list-style: none;
}

.navbar {
    top: 0;
}

.sticky-top {
    /* backdrop-filter: blur(20px);  */
    background-color: #fff;
}

.navbar-brand img {
    height: 4rem;
    padding-left: 1rem;
}

.nav-link {
    color: black !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    transition: 300ms !important;
    padding-right: 18px !important;
}

.nav-link.active {
    font-weight: 600 !important;
    color: #8E62AC !important;
}

.nav-link:hover {
    color: #8E62AC !important;
    text-decoration: underline;
}

.navbar-toggler-icon {
    border-color: rgb(255, 255, 255) !important;
}

/***** Top *****/

.carousel-control-next,
.carousel-control-prev {
    width: 8% !important;
}

.carousel-item {
    height: 85vh !important;
}

.top {
    padding: 5% 7% 4%;
}

.welcome {
    font-weight: 600;
}

.top-head {
    font-size: 4.8rem;
    font-weight: 800;
    font-family: 'Urbanist', sans-serif;
}

.top-btn {
    padding: 10 !important;
}

.top-head-span {
    background-color: #8E62AC;
    color: #fff;
    padding: 0 2;
}

.homesnap {
    margin: 1.2rem 0;
    width: 100%;
}

.fa-phone-alt {
    font-size: 20px;
}

.btn-light {
    background-color: #8E62AC !important;
    color: white !important;
}

.btn-light:hover {
    background-color: #af6cdc !important;
}

.para {
    text-align: center;
    margin-bottom: 25px;
}

/*** tour ***/
.tour {
    padding: 2% 4%;
    display: flex;
    justify-content: center;
}

.sub-head {
    font-size: 2.8rem;
    text-align: center;
    font-weight: 800;
    font-family: 'Urbanist', sans-serif;
    margin: 2%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 300ms;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.45rem;
    text-align: center;
    font-weight: 800;
    font-family: 'Urbanist', sans-serif;
}

.btn-outline-primary {
    font-weight: 600 !important;
    --bs-btn-color: #8E62AC !important;
    --bs-btn-border-color: #8E62AC !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #8E62AC !important;
    --bs-btn-hover-border-color: #8E62AC !important;
    --bs-btn-active-bg: #8E62AC !important;
    --bs-btn-active-border-color: #8E62AC !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

/*** About ***/
.about {
    margin: 4% 10%;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.abt-logo {
    width: 280px;
    margin-bottom: 30px;
    transition: 300ms;
}

.abt-logo:hover {
    transform: scale(1.1);
}

.abt-para {
    font-size: 20px;
    text-align: center;
}

/* Enquiry */
#enquiry {
    padding: 1% 8%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    color: #222222;
    font-size: 20px;
    text-align: left;
}

label,
input,
textarea {
    font-size: 20px;
    padding: 8px;
}

label {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
}

.form-content {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.submit {
    padding: 8px !important;
    text-align: center !important;
    font-size: 20px !important;
}


/*****Footer*****/
.footer {
    padding: 2% 8%;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-title {
    font-size: 1.8rem;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
}

.footer-para {
    color: #1f1f1f;
    font-size: 18px;
}

#logodown {
    margin: 3% auto;
    transition: 300ms;
}

#logodown:hover {
    transform: scale(1.1);
}

.footer-link1 {
    color: #1f1f1f;
    margin: 10px 5px;
    font-size: 18px;
    text-decoration: none;
}

.footer-link1:hover {
    color: #8E62AC;
    opacity: 100%;
    text-decoration: underline;
}

.footer-link {
    color: #1f1f1f;
    margin: 5px;
    text-decoration: none;
    transition: 300ms;
}

.footer-link:hover {
    color: #8E62AC;
    opacity: 100%;
}

.font3 {
    font-size: 1rem;
    margin: 3% auto 0px auto;
}

.font3 a {
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
}

.isoc {
    margin: .5rem 0;
}

.links-list {
    padding-left: 0px;
    margin: 2% 0;
    font-size: 20px;
}