@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media only screen and (max-width: 800px) {

    .abt-para,
    form,
    label,
    input,
    textarea,
    .form-content,
    .footer-para,
    .footer-link1 {
        font-size: 16px;
    }

    /***** Top *****/
    .top {
        padding: 2% 4% 4%;
    }

    .carousel-indicators {
        margin-bottom: 0 !important;
    }

    .carousel-indicators [data-bs-target] {
        width: 15px !important;
    }

    .carousel-item {
        height: 265px !important;
    }

    .welcome {
        font-size: 16px;
        font-weight: 600;
    }

    .top-head {
        font-size: 2.8rem;
    }

    .top-btn {
        padding: 8px !important;
        font-size: 14px !important;
    }

    .homesnap {
        width: 110%;
        margin-top: .4rem;
        margin-left: -5%;
    }

    .top-para {
        font-size: 16px !important;
        display: none;
    }

    .para {
        margin-bottom: 10px;
    }

    /*** tour ***/
    .tour {
        margin: 4% 6%;
    }

    .sub-head {
        font-size: 2.3rem;
    }

    .card-title {
        font-size: 1.2rem;
    }

    /*** About ***/
    .about {
        margin: 4% 6%;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }

    .abt-logo {
        width: 220px;
        margin-bottom: 20px;
    }

    /* Enquiry */
    #enquiry {
        padding: 1% 6%;
    }

    .submit {
        font-size: 16px !important;
    }

}

@media only screen and (max-width: 600px) {


    /***** Top *****/
    .top {
        padding: 2% 7% 4%;
    }

    .carousel-item {
        height: 190px !important;
    }

    .welcome {
        font-size: 10px;
        font-weight: 600;
    }
    mark{
        font-size: 12px;
    }
    .top-head {
        font-size: 1.5rem;
    }

    .top-btn {
        padding: 4px !important;
        font-size: 10px !important;
    }
    .fa-phone-alt{
        font-size: 15px;
    }

    .top-para {
        font-size: 12px !important;
    }

    .homesnap {
        margin-top: 1rem;
        margin-left: -26%;
        width: 140%;
    }

    .msg-lottie {
        width: 70% !important;
    }
}